/* Helpers
============================================================ */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; } 
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.clear{clear:both;}
.alignleft{text-align:left;}
.alignright{text-align:right;}
.aligncenter{text-align:center;}
.floatleft{float:left;}
.floatright{float:right;}

/* General
============================================================ */

/* Body
============================================================ */

/* Header
============================================================ */

/* Sidebar
============================================================ */

/* Footer
============================================================ */

/* Forms
============================================================ */

/* Tables
============================================================ */